
config.py
.ipynb_checkpoints/tmdb-checkpoint.ipynb
.DS_Store
__pycache__/config.cpython-37.pyc
__pycache__/config.cpython-37.pyc
Icon? 20.30.08
.ipynb_checkpoints/Icon
__pycache__/Icon
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
.ipynb_checkpoints/Icon
pickles/Icon
.ipynb_checkpoints/movie-stats-checkpoint.ipynb
.ipynb_checkpoints/coens-v-scorsese-checkpoint.ipynb
.ipynb_checkpoints/recommender-checkpoint.ipynb
.ipynb_checkpoints/recommender-my-data-checkpoint.ipynb
IMDB/.ipynb_checkpoints/imdb-checkpoint.ipynb
